<table style="width: 100%; background-color: #f4f4f4; padding: 20px 0;">
    <tr>
        <td>
            <table style="max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; padding: 30px;">
                <tr>
                    <td style="color: #555555; font-size: 16px; line-height: 1.5; padding: 10px 0;">
                        <p><b>User suggests a new car brand:</b></p>
                        <ul>
                            <li>Brand Name: {{brandName}}</li>
                            <li>Proposed by: {{userName}} ({{userEmail}})</li>
                        </ul>
                        <p>Please consider adding this brand to the platform.</p>

                    </td>
                </tr>


            </table>
        </td>
    </tr>
</table>